<div class="pull-left">
    <article>
        <div class="box">
            <div class="title">
                <h5>Offer of the Week from UK</h5>
            </div>
            <div class="sub-box">
                <div class="name">
                    <strong>From Brimingham</strong>
                </div>
                <div class="detailed-box">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="sub-box">
                <div class="name">
                    <strong>From Brimingham</strong>
                </div>
                <div class="detailed-box">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="title">
                <h5>Offer of the Week from UK</h5>
            </div>
            <div class="sub-box">
                <div class="name">
                    <strong>From Brimingham</strong>
                </div>
                <div class="detailed-box">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="sub-box">
                <div class="name">
                    <strong>From Brimingham</strong>
                </div>
                <div class="detailed-box">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/images/marker_1.gif">Zurich
                            </a>
                            <span class="depature">from GBP</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </article>
</div>